.wrapper {

    .container {
        display: flex;

        .logo {

            img {
                max-height: 90px;
            }
        }

        .nav {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 4px 0;

            font-family: 'lato', sans-serif;

            ul {

                .list {
                    position: relative;
                    padding-right: 16px;

                    &::after {
                        content: '^';
                        transform: rotateX(180deg) scaleX(1.5);
                        position: absolute;
                        right: 3px;
                        top: -2px;
                        cursor: pointer;

                        font-family: 'lato-lt';
                        color: #c5c5c5;
                        font-weight: lighter;
                    }
                }

                li {
                    display: inline-block;
                    padding: 0 9px;

                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }

                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: rgba(102, 102, 102, 0.85);
                        font-size: 16px;
                        font-weight: 500;

                        &:hover {
                            color: rgba(17, 17, 17, 0.85);
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}